DATABASE_HOSTNAME=   # host / ip address
DATABASE_PORT=   # database port
DATABASE_NAME=   # database name
DATABASE_USERNAME=   # database username
DATABASE_PASSWORD=   # database password
SECRET_KEY=   # oauth2 secret key
ALGORITHM=   # hashing algorithm
ACCESS_TOKEN_EXPIRE_MINUTES=   # token expiration time in minutes
